html {
    font-size: 16px; /* 16px = 1rem */
}

body {
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu {
    display: flex;
}

li {
    font-size: 1.5rem;
}